# Sui Network Configuration
VITE_NETWORK=testnet

# Package ID from deployed contract
# Update this after deploying your voting contract
VITE_PACKAGE_ID=0xa9377edbf7a8a504fbe44e4eee02b32ffa4449c51bc76a81b99beab8a9f18c11
